{% extends 'models1.html' %}
    {% block title %}设基院|基金小镇|金融小镇|资本广场|金融园区|对接政府资源|政府产业投资基金{% endblock %}
    {% block head_css %}
        <style>
          .el-carousel__item .el-col {
              color: #475669;
              font-size: 18px;
              opacity: 0.75;
              {#line-height: 300px;#}
              margin: 0;
          }

          .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
          }

          .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
          }
        .el-row {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .el-col {
            border-radius: 4px;
          }
          .bg-purple-dark {
            background: #99a9bf;
          }

          .bg-purple-light {
            background: #e5e9f2;
          }
          .grid-content {
            border-radius: 4px;
            min-height: 36px;
          }
          .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
          }
        .grid-content{
            text-align: center;
            padding-top: 40px;
        }
        .grid-content i{
            font-size:50px;
        }
        .grid-content span{
            font-weight: 700;
            margin-top: 10px;
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .grid-content p{
            font-size: 14px;
            margin-bottom: 40px;
        }
        .grid-content a{
            color: #475669;
        }
        .amap{
            height: 400px;
            margin-left: 0;
            width: 600px;
            background: url(https://g.alicdn.com/aliyun/chuangke-lingxi-aliyun-loz/1.1.3/img/8b45811ef25aa0d71f28e15236c77479.png) no-repeat;
            background-size: auto 100%;
            position: relative;
        }
        .mapCur {
            position: absolute;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            top: 180px;
            right: 180px;
            cursor: pointer;
        }
        .mapCur>span {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 4px;
            background: rgba(36,164,255,.2);
            border-radius: 50%;
            z-index: 9;
        }
        .mapCur>span:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #24a4ff;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    z-index: 19;
}
        .el-tab-pane p{
            font-size: 14px;
            color: #475669;
        }
        .el-tab-pane h3{
            color: #24a4ff;
            font-weight: 700;
        }
          .el-row {
            margin-bottom: 0;
                 }
        .footersnub{
            margin-bottom: 60px
        }

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
        a{
            text-decoration:none;
        }

.mapCurHover>span {
        width: 28px;
        height: 28px;
        margin: 0;
        z-index: 9;
        background-image: linear-gradient(-225deg,#1ec6ff 1%,#21b5ff 36%,#2796ff);
    }
.mapCurHover>span:before {
    background: #eeeaff;
    z-index: 999;
}





/* 大屏幕 ：大于等于1200px*/
@media (min-width: 2000px) {
    .el-carousel__container{
        height: 640px;
    }
}
/* 大屏幕 ：大于等于1200px*/
@media(min-width: 1201px) and (max-width: 2000px) {
    .el-carousel__container{
        height: 480px;
    }
}


/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 980px) and (max-width: 1200px) {
    .el-carousel__container{
        height: 300px;
    }
}
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
    .el-carousel__container{
        height: 240px;
    }
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
    .el-carousel__container{
        height: 200px;
    }
}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
    .el-carousel__container{
        height: 110px;
    }
}


        </style>
    {% endblock %}

    {% block content %}
        <div id="app">

            <el-row>
                {{ super() }}   {#继承原来模板信息 既 菜单栏#}
                <template>
                  <el-carousel>
                    <el-carousel-item v-for="items in itemsu" :key="items.id" >
                        <a :href="items.a">
                            <img ref="imgHeight" :src='items.img' class="banner_img"  width="100%" />
                        </a>
                    </el-carousel-item>
                  </el-carousel>
                </template>
            </el-row>

            <el-row type="flex" class="row-bg" justify="center" :gutter="20" >
                <el-col :span="3" v-for="i in ico" :key="ico.id">
                        <div class="grid-content bg-purple">
                             <a :href="i.url">
                                <i :class="i.ico"></i>
                                <br/>
                                <span>{{i.title}}</span>
                                <p>{{i.text}}</p>
                             </a>
                        </div>

                </el-col>

            </el-row>

            <el-row>
              <el-col :span="24">
                  <div class="grid-content">
                      <h1>
                            设基院私募孵化基地
                      </h1>
                      <p>
                          税收优惠政策/精准对接政府资源/拎包入驻办公
                      </p>
                  </div>
              </el-col>
            </el-row>

            <el-row type="flex"  justify="center" class="footersnub">
              <el-col :span="8">
                  <div class="grid-content bg-purple-light amap">



                      <div v-for="ii in map"  class="mapCur mapCurHover"  :style="ii.XY" v-if="ii.id == region_id">
                          <el-tooltip class="item" effect="dark" :content="ii.region" placement="right" value="true">
                              <span @click="sjybase(ii.uid,ii.id)" ></span>
                          </el-tooltip>
                      </div>

                      <div v-for="ii in map"  class="mapCur"  :style="ii.XY" v-if="ii.id != region_id">
                          <el-tooltip class="item" effect="dark" :content="ii.region" placement="right">
                              <span @click="sjybase(ii.uid,ii.id)" ></span>
                          </el-tooltip>
                      </div>


                  </div>
              </el-col>
              <el-col :span="4" style="margin-top: 40px">

                <transition name="slide-fade">
                  <el-tabs v-model="activeName" type="border-card" @tab-click="sjybase" v-if="show">
                    <el-tab-pane v-for="us in p" :label="us.name" >
                        <h3>{{us.h3}}</h3>
                        <p>{{us.text}}</p>
                        <el-button type="primary" v-if="us.a != '#'" @click="login">申请入驻</el-button>
                    </el-tab-pane>
                  </el-tabs>
                </transition>

              </el-col>
            </el-row>


            <el-row class="row-bg">
              <el-col :span="24">
                  <div class="grid-content">
                      <h1>
                            设基院分布
                      </h1>

                  </div>
              </el-col>
            </el-row>

            <el-row  type="flex" class="row-bg" justify="center">
                <el-col :span="12" class="footersnub" >
                      <el-carousel :interval="4000" type="card" height="200px">
                        <el-carousel-item v-for="item in itemsu2" :key="item">
                             <el-col><img ref="imgHeight" :src='item.img' class="banner_img" width="100%" height="100%"/></el-col>
                        </el-carousel-item>
                      </el-carousel>
                </el-col>
            </el-row>

            <el-row>
              <el-col :span="24">
                  <div class="grid-content">
                      <h1>
                            部分合作单位
                      </h1>

                  </div>
              </el-col>
            </el-row>
            <el-row  type="flex"   justify="center" class="footersnub">
                <el-col :span="12" >
                    <img src="static/logo.png" width="100%"/>
                </el-col>
            </el-row>








        {% endblock %}

        {% block footer %}
            {{ super() }}   {#继承原来模板信息 既 末尾栏#}
        {% endblock %}
    </div>

    {% block js %}

        <script src="https://unpkg.com/vue-amap/dist/index.js"></script>




        <script>
         var Main = {
            data() {
              return {

                  activeIndex2: '/',
                  show: true,
                  itemsu : [
                      {% for i in adminimg %}
                          {
                              name:'{{ i.name }}',
                              a:'{{ i.a }}',
                              img:'{{ i.url }}',
                          },
                      {% endfor %}
                  ],
                  itemsu2 : [
                      {% for i in sjyimgs %}
                          {
                              name:'{{ i.name }}',
                              img:'{{ i.url }}',
                          },
                      {% endfor %}
                  ],
                  ico:[
                      {% for i in plateico %}
                                {
                                    id:'{{ i.id }}',
                                    title:'{{ i.name }}',
                                    text:'{{ i.text }}',
                                    ico:'{{ i.ico }}',
                                    url:'{{ i.url }}',
                                },
                      {% endfor %}
                  ],
                  text:[
                      {id:0,xy:'left:440px;top:280px;',title:'湖州',uid:'use1'}
                  ],

                  region_id:1,
                  map: [
                             {% for i in region %}
                                {
                                    id:'{{ i.id }}',
                                    uid:'{{ i.uid }}',
                                    XY:'{{ i.xy }}',
                                    region:'{{ i.region }}',
                                },
                             {% endfor %}
                        ],
                   p:[
                             {% for i in base %}
                                {

                                    id:'{{ i.region_id }}',
                                    name:'{{ i.name }}',
                                    text:'{{ i.text }}',
                                    h3:'{{ i.h3 }}',
                                    a:'{{ i.a }}',
                                },
                             {% endfor %}
                   ],

              }
            },
            methods: {
              handleSelect(key) {
                  console.log(key);
                  window.open(key, "_self");
              },
              sjybase(key,id){
                  _this= this
                  this.show = !this.show;
                  console.log(this.p[0].name);

                  {#this.p=[#}
                  {#    {name:'uid1',title:'太湖绿色金融小镇2',tt:'设基院（湖州长兴）2'},{name:'uid2',title:'资本广场',tt:'资本广场2'},#}
                  {#]#}
                  data={uid:key};
                  axios.post('{{ url_for('web.ingexbase') }}',data)
                                  .then(function (u) {
                                      _this.p=u.data
                                      _this.region_id = id
                                      console.log(u);
                                  });

                  setTimeout(function () {
                      _this.show = !_this.show
                  } ,1000);
                  console.log(key);
              },
              login(){
                  _this = this;
                  window.open('/submit/', "_self");
              },
            },

          }

            var Ctor = Vue.extend(Main)
            new Ctor().$mount('#app')
        </script>



    {% endblock %}
